body{
    background-color: #EEEEEE;
    box-sizing: border-box;
}
.kontener{
    width: 1000px;
    margin: auto;
    text-align: center;

   
}
ul{
    list-style: none;
}
.stopka{

    background-color: #C0C0C0;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo , .menu{
    
    background-color: #C0C0C0;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo{
    width: 400px;
    float: left;
    background-color:  #C0C0C0;;
}
.menu{
    width: 600px;
    float: left;
}
.banner{
    background-color: #DDDDDD;
    height: 200px;
    clear: both;
}
.glowny{
    margin: 50px;
}
.stopka{
    text-align: right;
}
.menu a{
    background-color: #C0C0C0;
    color:  #555555;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
    
}
hr{
    background-color: #C0C0C0;
    width: 70%;
    height: 2px;
}
table{
    text-align: left;
}
