*{
    font-family: Arial;

}
.baner1{
    background-color: #483D8B;
    height: 150px;
    width: 30%;
    float: left;
}
.baner2{
    background-color: #483D8B;
    width: 70%;
    height: 150px;
    float: right;
    color: white;
}
.wpisy{
    background-color: #AFEEEE;
    width: 150px;
    height: 100px;
    margin: 3px;
    border: 1px solid  black;
    float: left;
}
.stopka{
    background-color: #483D8B;
    color: white;
    padding: 10px;
    clear: both;
}
h5{
    text-align: center;
}